#company_form__container {
    background-color: var(--bg-color-alt);
    min-height: 77dvh;
    padding-top: 10px;
}

#company_form {
    margin: 0 auto;
    width: var(--card-width);
}

#company_form>select {
    background-color: rgba(255, 255, 255, 0.87);
    border: 1px solid grey;
    border-radius: .3rem;
}

#not_in_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

#new_company_form input:not(new_company_checkbox) {
    border: 1px solid grey;
    border-radius: .3rem;
    height: 24px;
    width: clamp(250px, 10dvw, 80dvw);
}

#not_in_list>input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

#not_in_list>input:not(:checked) {
    accent-color: rgba(255, 255, 255, 0.87);
}


#new_company_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

#new_company_form>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#new_company_form>button {
    background-color: var(--main-button-color);
    padding: 5px 10px;
}

span.required,
span.errors {
    color: red;
    font-size: 14px;
}

#edit_company_title,
.company_edit_form {
    width: var(--card-width);
    margin: 0 auto;
}

#edit_company_title {
    margin-top: 15px;
    margin-bottom: 10px;
}