#error_page {
    background-color: #484848;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-top: 25dvh; */
    height: 80dvh;
}

#error_page h1 {
    width: 35%;
}

#error_page a {
    border: 2px solid #1F1F1F;
    padding: 10px;
    border-radius: .25rem;
    font-size: 24px;
}