#hero {
    height: 30dvh;
}

#features {
    height: 28dvh;
}

.feature_card {
    width: 20dvw;
}

.feature_card img {
    height: 80px;
}

.feature_quote {
    color: rgb(255, 255, 255, 50%);
    width: 85%;
    font-size: 14px;
}

#testimonies {
    height: 30dvh;
}

#testimonies>div {
    width: clamp(400px, 60dvw, 800px);
}

#pricing {
    height: 47dvh;
}

#price_card__container {
    height: 40dvh;
    width: 80dvw;
}

.price_card {
    height: 30dvh;
    width: 30dvh;
}

.price_card>ul>li {
    color: #484848;
    text-align: left;
    margin: 8px 0;
}

#mission {
    height: 20dvh;
}

#hero.hero_logged_in {
    flex-direction: column;
    height: 25dvh;
}

.hero_logged_in input {
    font-size: medium;
    padding-inline-start: 20px;
    background-color: var(--font-color);
    border: 1px solid grey;
    border-radius: .3rem;
    height: 24px;
    width: clamp(400px, 20dvw, 90dvw);
    margin-top: 2px;
}

.hero_logged_in button {
    background-color: #98A869;
    margin-top: 30px;
    padding: 8px 20px;
}

#recent_apps {
    height: 35dvh;
    display: flex;
    justify-content: space-around;
}

#recent_apps_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#recent_apps_title>h2 {
    font-size: 32px;
}

#app_card__container {
    width: 40dvw;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

#app_card__container>div {
    border: 1px solid var(--bg-color-alt);
    border-radius: .3rem;
    cursor: pointer;
    padding: 10px;
}

#app_card__container>div:hover {
    border-color: #606060;
}

#app_metrics {
    height: 80dvh;
    background-color: var(--bg-color-alt);
    text-align: center;
}

#app_metrics>h2 {
    font-size: 32px;
    padding-top: 20px;
}


@media screen and (max-width: 800px) {
    #pricing {
        height: 100dvh;
        margin-top: 20px;
    }

    #price_card__container {
        flex-direction: column;
        height: 90dvh;
        margin-bottom: 25px;
    }
}