#hero {
    background-color: var(--bg-color-alt);
    height: 30dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero_buttons {
    display: flex;
    justify-content: space-around;
}

#hero_buttons button {
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    padding: 10px 10px;
}


#get_started {
    background-color: #98A869;
}

#learn_more {
    /* background-color: #6D7056; */
    background-color: rgba(69, 111, 61, 0.595);
}

#features {
    height: 28dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
}

.feature_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 20dvw;
    text-align: center;
}

.feature_card img {
    height: 80px;
}

.feature_quote {
    color: rgb(255, 255, 255, 50%);
    width: 85%;
    font-size: 14px;
}

#testimonies {
    background-color: var(--bg-color-alt);
    height: 30dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#testimonies>div {
    display: flex;
    align-items: center;
    gap: 300px;
    width: 60dvw;
    margin-top: -40px;
}

#testimonies>div>img {
    height: 100px;
}

#pricing {
    height: 47dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price_card__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40dvh;
    text-align: center;
    width: 80dvw;
    /** \/ Keeps cards from touching when screen width lessens */
    gap: 20px;
}

.price_card {
    background-color: rgba(255, 255, 255, 0.937);
    border-radius: .5rem;
    color: #1F1F1F;
    height: 30dvh;
    width: 30dvh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price_card>h2 {
    margin-bottom: 0;
}

.price_card>span {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
}

.price_card>span>h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 42px;
}

.price_card>ul {
    margin-top: 2px;
    padding-left: 20px;
}

.price_card>ul>li {
    color: #484848;
    text-align: left;
    margin: 10px 0;
}

#pricing>button {
    background-color: #98A869;
    padding: 10px 15px;
}

#mission {
    background-color: var(--bg-color-alt);
    height: 20dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mission p {
    font-size: 20px;
    width: 55%;
}

#hero.hero_logged_in {
    flex-direction: column;
    height: 25dvh;
}

.hero_logged_in input {
    background-color: var(--font-color);
}

.hero_logged_in button {
    background-color: #98A869;
    margin-top: 30px;
    padding: 8px 20px;
}

#recent_apps {
    height: 35dvh;
    display: flex;
    justify-content: space-around;
}

#recent_apps_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#recent_apps_title>h2 {
    font-size: 32px;
}

#app_card__container {
    width: 40dvw;
}

#app_metrics {
    height: 80dvh;
    background-color: var(--bg-color-alt);
    text-align: center;
}

#app_metrics>h2 {
    font-size: 32px;
    padding-top: 20px;
}


@media screen and (max-width: 800px) {
    #pricing {
        height: 100dvh;
        margin-top: 20px;
    }

    #price_card__container {
        flex-direction: column;
        height: 90dvh;
        margin-bottom: 25px;
    }
}