.applied {
    color: #00A3FF;
}

.interviewed {
    color: #D6D600;
}

.offer {
    color: #25C8D3;
}

.accepted {
    color: #008000;
}

.rejected {
    color: #ed1818;
}

.withdrawn {
    color: #7D7D7D;
    opacity: 80%;
}